

.navbar
{

    background-color: #263060;
    border-bottom: 2px solid white !important;
    z-index: 900;
}


.nav-item .nav-link
{
    margin: 0;
    font-size: 150%;
    color: white;
}

.nav-item:hover .nav-link
{
    color: #f6be01;
}


